<%- include("partial/header"); %>
<div class="introabout">
  <div class="intro">
    <h1 class="quote">WHEN YOU TAKE A PICTURE YOU ARE STOPPING THE MOMENT YOU WANT TO SAVE</h1>
  </div>
</div>
<%- include("partial/footer"); %>
