<%- include("partial/header"); %>
<div class="introabout">
  <div class="intro">
    <h1 class="quote">WHEN YOU TAKE A PICTURE YOU ARE STOPPING THE MOMENT YOU WANT TO SAVE</h1>
  </div>
</div>


<div class="home" id="home">
  <h3>ABOUT US</h3>
  <div class="hr"></div>
  <br>
<p>
  hello!
I’m Mack, the chick behind the camera.
I’m a passionate ESFP personality who’s main goal in life is to have as much fun as humanly possible – while simultaneously traveling the earth and creating awesome work with awesome people.
I received my BFA in Photo Media from KU in 2014. In 2016 I made the move from Kansas City to Austin, TX and married my husband Kyle the following year. We’re currently livin’ the good life in Austin, with our very fluffy English Cream Golden, Sunny.
When I’m not shooting, I’m more than likely hosting friends on our patio, taking Sunny for a hike, planning our next road trip, vintage shopping, or drinking an aperol spritz.
</p>





<section id="test">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
    <div class="carousel-inner">
      <div class="carousel-item active into">
        <h1>Wedding</h1>
        <br>
        <img src="../img/marriage/m2.jpeg" height="300px" width="500px"  />
      </div>
      <div class="carousel-item  into">
        <h1>Puberty</h1>
        <br>
        <img src="../img/puberty/p2.jpg" height="300px" width="500px"  />
      </div>
      <div class="carousel-item  into">
        <h2>Family</h2>
        <br>
        <img src="../img/family/f2.jpg" height="300px" width="500px"  />
      </div>
      <div class="carousel-item  into">
        <h1>Baby Photoshoots</h1>
        <br>
        <img src="../img/baby/b3.jpeg" height="300px" width="500px"  />
      </div>
      <div class="carousel-item  into">

        <h1>Function</h1>
        <br>
        <img src="../img/function/fn2.jpg" height="300px" width="500px"  />
      </div>
      <div class="carousel-item  into">
        <h1>Birthday & Parties</h1>
        <br>
        <img src="../img/birth/pb1.jpg" height="300px" width="500px"  />
      </div>

    </div>
    <button class="but carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>

    </button>
    <button class=" but1 carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>
  <h3>PROCESS</h3>
  <div class="hr"></div>
  <center>
      <div class="home-grid">
          <div  class="h1"></div>
          <div  class="h2">
            <h5>REACH OUT US</h5>
            <h6>After you submit a contact form, I’ll send over my price guide and let you know if I’m available for your date!</h6>
          </div>
          <div  class="h3"></div>
          <div  class="h4">
          <h5>COFFEE/COCKTAIL</h5>
          <h6>I prefer to meet all of my potential clients in person to make sure we are a good fit for each other.</h6>
          </div>
          <div  class="h5"></div>
          <div  class="h6">
           <h5>BOOKING</h5> 
<h6> I will send you a digital contract where you can pay your retainer fee. Once its completed, your shoot date is secured!</h6>
          </div>
          <div  class="h7"></div>
          <div  class="h8">
          <h5> TIMELINE</h5>
<h6>About 2 weeks prior to your shoot, I will request a shoot day timeline from you or your shoot planner.</h6>
          </div>
          <div  class="h9"></div>
          <div  class="h10">
          <h5>DELIVERY</h5>
        <h6>You can expect to see a “sneak peak” within 24 hours of your shoot, so you can start sharing photos ASAP!</h6>
          </div>
     
        </div>
  </center>
  <h3>PRICE</h3>
  <div class="hr"></div>
  <section id="pricing">
    <div class="row">
      <div class="col-lg-4">
        <div class="price">
            <h3>Wedding</h3>
            <img src="../img/marriage/m3.jpeg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>5000</h6>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="price">
            <h3>Puberty</h3>
            <img src="../img/puberty/p1.jpg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>1499</h6>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="price">
            <h3>Family</h3>
            <img src="../img/family/f3.jpg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>2000</h6>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="price">
            <h3>Baby Photoshoot</h3>
            <img src="../img/baby/b1.jpg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>1200</h6>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="price">
            <h3>Function</h3>
            <img src="../img/function/fn3.jpg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>3500</h6>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="price">
            <h3>Birthday & Party</h3>
            <img src="../img/birth/pb3.jpg" alt="" height="200px" width="280px">
            <h4>Price</h4>
            <h6>1499</h6>
        </div>
      </div>
    </div>
  </section>
  <h3>LOCATION</h3>
  <div class="hr"></div>
  <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1442.9854424019009!2d76.95771969385271!3d11.004087451889335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85905df2cf779%3A0x4fb6cfb9390940ff!2sCorporation%20Park!5e0!3m2!1sen!2sin!4v1702124178369!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h3>CONTACT US</h3>
    <div class="hr"></div>
    <div class="contact">
    <div class="row">
      <div class="col-lg-4">
            <h3>Email</h3>
            <h6>Zstudio@gmail.com</h6>
        </div>
      <div class="col-lg-4">
            <h3>Phone number</h3>
            <h6>+91 0123456789</h6>
      </div>
      <div class="col-lg-4">
            <h3>Address</h3>
            <h6>2X35+M9C, Sukrawar Pettai, R.S. Puram, Coimbatore, Tamil Nadu 641001</h6>
      </div>
    </div>
  </div>
</div>
<%- include("partial/footer"); %>
