<%- include("partial/header"); %>

    <div class="introhome">
      <div class="intro">
        <h1 class="quote">A PICTURE HAS THE MAGIC TO MAKE A MOMENT LAST FOREVER </h1>
      </div>
    </div>
    
    <div class="gallery" id="wedding">
      <h3>WEDDING PHOTOS</h3>
      <div class="hr"></div>
      <center>
          <div class="wedding-grid">
              <div class="m1"></div>
              <div class="m2"></div>
              <div class="m3"></div>
              <div class="m4"></div>
              <div class="m5"></div>
              <div class="m6"></div>
            </div>
            <a  class="btn" href="/photogallery">Show More</a>
          </center>
          </div>
      
      <div class="gallery" id="puberty">
          <h3>PUBERTY PHOTOS</h3>
          <div class="hr"></div>
          <center>
              <div class="puberty-grid">
                  <div class="p1"></div>
                  <div class="p2"></div>
                  <div class="p3"></div>
                  <div class="p4"></div>
                  <div class="p5"></div>
                </div>
                <a  class="btn" href="/photogallery">Show More</a>
          </center>
        </div>
      
      
      
          <div class="gallery" id="wedding">
              <h3>FAMILY PHOTOS</h3>
              <div class="hr"></div>
              <center>
                  <div class="family-grid">
                      <div class="f1"></div>
                      <div class="f2"></div>
                      <div class="f3"></div>
                      <div class="f4"></div>
                      <div class="f5"></div>
                      <div class="f6"></div>
                      <div class="f7"></div>
                    </div>
                    <a  class="btn" href="/photogallery">Show More</a>
              </center>
            </div>
      
            <div class="gallery" id="wedding">
              <h3>BABY PHOTOS</h3>
              <div class="hr"></div>
              <center>
                  <div class="baby-grid">
                      <div class="b1"></div>
                      <div class="b2"></div>
                      <div class="b3"></div>
                      <div class="b4"></div>
                      <div class="b5"></div>
                      <div class="b6"></div>
                    </div>
                    <a  class="btn" href="/photogallery">Show More</a>
              </center>
            </div>
            <div class="gallery" id="wedding">
              <h3>FUNCTION PHOTOS</h3>
              <div class="hr"></div>
              <center>
                  <div class="function-grid">
                      <div class="fn1"></div>
                      <div class="fn2"></div>
                      <div class="fn3"></div>
                      <div class="fn4"></div>
                      <div class="fn5"></div>
                      <div class="fn6"></div>
                      <div class="fn7"></div>
                    </div>
                    <a  class="btn" href="/photogallery">Show More</a>
              </center>
            </div>
            <div class="gallery" id="wedding">
              <h3>BIRTHDAY & PARTY PHOTOS</h3>
              <div class="hr"></div>
              <center>
                  <div class="birth-grid">
                      <div class="pb1"></div>
                      <div class="pb2"></div>
                      <div class="pb3"></div>
                      <div class="pb4"></div>
                      <div class="pb5"></div>
                      <div class="pb6"></div>
                  
                    </div>
                    <a  class="btn" href="/photogallery">Show More</a>
              </center>
            </div>
          
      <%- include("partial/footer"); %>
