<%- include("partial/header"); %>

    <div class="introhome">
      <div class="intro">
        <h1 class="quote">A PICTURE HAS THE MAGIC TO MAKE A MOMENT LAST FOREVER </h1>
      </div>
    </div>
   <!-- WEDDING PHOTOS -->
  <div class="wedding" id="wedding">
<h3>WEDDING PHOTOS</h3>
<div class="hr"></div>
</div>
<div class="container-wedding">

</div>
<%- include("partial/footer"); %>
