<%- include("partial/header"); %>

  <div class="card thanks">
    <div class="card-body">
      <div class="col-lg-12">
          <h2>Thanks For Contacting Us <%=cusname%></h2>
          <h4>Please Check Your Email <a href="https://mail.google.com/"><%=cusmail%></a></h4>
          <h4>We Will Be Contacting You Soon Be Ready For The Shoot </h4>
          <center>
            <a class="btn" href="/contact">Back</a>
          </center>
      </div>
    </div>
  </div>




</section>
<%- include("partial/footer"); %>
